.description {
	margin-top: 2rem;
	padding: 0;
	width: 100%;
}
.descriptionHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1rem 0;
	border-bottom: 0.0625rem solid var(--color-theme-primary);
	cursor: pointer;
}

.descriptionTitle {
	font-weight: 700;
}
.descriptionImg {
	transform: rotate(90deg);
}
.descriptionContent {
	text-align: left;
}
.selected {
	transform: rotate(270deg);
}
