.productsWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
    flex-wrap: wrap;
}
.centeredButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 3rem;
}