.genderMenu {
	position: fixed;
	top: 72px;
	right: 0;
	width: 100%;
	background-color: var(--color-theme-primary);
	z-index: 10;
}
.genderMenu ul {
	display: flex;
	justify-content: center;
	gap: 1rem;
	margin: 0 auto;
	padding: 1rem;
	width: 100%;
	max-width: 100rem;
}
.genderMenu ul li a {
	color: var(--color-white);
}
.genderMenu ul li a:hover {
	font-weight: bold;
}
.genderMenu ul li a:active(.global) {
	text-decoration: underline;
}
